body {
	color: #ddd;
    font-family: Arial, Sans-Serif;
    letter-spacing: -0.05em;
    font-size: 0.8em;
}

a,a:link,a:visited { color: #00ADEF; text-decoration: none; }
a:hover { text-decoration: underline;}
a img { border: none; }

button, 
button span {
	color: #fff;
}
p { 
	font-size:1em;
	letter-spacing:0.02em;
	line-height:1.35em;
	margin:0 0 10px;
	padding:0;
}

h1{
	padding: 0 0 10px;
}
h2 {
	color:#84D725;
	font-family:trebuchet MS;
	font-size:1.7em;
	font-weight:normal;
	letter-spacing:-0.008em;
	line-height: 1.15em;	
	margin-bottom: 10px;
}
h3 {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 8px;
	text-transform: uppercase;
}
h5 {
	margin: 0 0 5px;
}
pre {
	background-color:#333333;
	border-left:5px solid #777777;
	color:#CCCCCC;
	display: block;
	font-size:1.1em;
	line-height: 1.1em;
	margin:10px 0;
	padding:10px;
}

table {
	border-bottom: solid 1px #fff;
	border-collapse: separate;
	clear: both;
	font-size: 0.9em;
	margin: 10px 0;
	padding: 0;
}
	tr {}
	th {
		border-top:1px solid #FFFFFF;
		font-size:0.8em;
		font-weight:normal;
		line-height:1.2em;
		padding:15px 5px;
		text-align:left;
		text-shadow:1px 1px 0 #FFFFFF;
	}
	td {
		border-top: dotted 1px #fff;
		border-bottom: dotted 1px #ccc;
		border-left: solid 1px #efefef;
		padding: 3px 5px;
		text-shadow: 1px 1px 0px #fff;
	}
	tr:nth-child(even) td{
		background-color: #eee;
	}

/*
	lists
-----------------------------------------------------------*/
ol, ul      { padding: 5px 0 5px 20px; }
li {
	font-size:1em;
	letter-spacing:0.02em;
	line-height:1.35em;	
}
ul li li    { list-style-image: none; list-style-type: circle; }
ul li li li { list-style-image: none; list-style-type: disc; }
ul li li li li { list-style-image: none; list-style-type: square; }
