/*
	components
----------------------------------------------------------------------*/

/*
    cp-promo
------------------------------------------------*/
.cp-promo,
.cp-promo-carousel {
	width: 640px;
}
.cp-promo-carousel ul {
  height: 385px;
}
.cp-promo {
	/*overflow: hidden;*/
	margin: 0 0 7px;
	padding: 0;
}        
    .cp-promo-carousel {
        margin: 0 0 0 65px;
        overflow: auto;
        position: relative;
        padding: 0;
        z-index: 1;
    }
		.cp-promo-carousel ul {
			margin:0;
			padding:0;
		}
        .cp-promo-carousel li {
            overflow: hidden;
            width: 623px;
            overflow: hidden;
            zoom:1;
        }
		.cp-promo-active .cp-promo-carousel li {
			width: 640px;
		}
            .cp-promo-carousel li img {
                display: block;
                z-index: 1;
            }
            .cp-promo-carousel li .cp-promo-label {
            	border-bottom: solid 3px #84D725;
                bottom:10px;
                color:white;
                display:block;
                right:10px;
                padding: 15px 21px;
                position:absolute;
                text-decoration: none;
                width:300px;
                z-index:2;
                zoom: 1;
            }
            .cp-promo-carousel li .cp-promo-bg {
                background-color:#000;        
                bottom: 0;
                display: block; /* ie6 overriden */
                left: 0;
                height: 100%;
                opacity: 0.9;
                filter:Alpha(Opacity=90);
                position: absolute;
                top: 0;
                width: 342px;
                zoom: 1;
            }
            .cp-promo-carousel li .cp-promo-title {
				color:#84D725;
                display: block;
				font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
                font-size: 2em;
                letter-spacing: -0.02em;
                line-height: 1.1em;
				text-shadow: 0 0px 3px #000;
				filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=180,strength=1);
            }
            .cp-promo-carousel li .cp-promo-body {
                background: url(../images/dotted-white.gif) repeat-x left top;
                display: block;
                font-size: 1.1em;
                margin: 5px 0 0;
            }
                .cp-promo-carousel li .cp-promo-body .cp-promo-bodyWrapper {
                    display: block;
                    background: url(../images/dotted-white.gif) repeat-x left bottom;
                    padding: 7px 0;
                }
            .cp-promo-carousel li .cp-promo-cta {
                background: url(../images/btn-arrow.gif) no-repeat left top;
                height: 22px;
                line-height: 22px;
                margin-top: 10px;
            }
                .cp-promo-carousel li .cp-promo-cta span { 
                    background: url(../images/btn-arrow.gif) no-repeat right top;
                    line-height: 22px;
                    padding-right: 28px;
                }
        
    .cp-promo li {
        list-style: none;
        list-style-image: none;
    }
    .cp-promo-controller {
		/*background: black url(../images/sprites.png) no-repeat -307px -10px;*/
		display: block;
        top: 0px;
		height: 385px;
        left: -5px;
        list-style: none;
        list-style-image: none;
        margin: 0;
        padding: 0;
        position: absolute;
		width: 70px;
        z-index: 2;
    }
        .cp-promo-controller li {
            cursor: pointer;
            display: block;
            float: left;
            height: 63px;
            margin: 0px;
            overflow: hidden;
            padding: 0;
            width: 70px;
        }
		.cp-promo-controller li.nav-selected {
			width: 75px;
		}
            .cp-promo-controller li a {
                display: block;
                float: left;
				font-size:0.9em;
                height: 50px;
				line-height: 1.1em;
                margin: 0;
                overflow: hidden;
                padding: 8px 3px 8px 2px;
                width: 66px;
            }
            .cp-promo-controller li.nav-selected a,
            .cp-promo-controller li:hover a,
            .cp-promo-controller li a:hover {
            	background-color: #00ADEF;
				color: #fff;
				padding-left: 4px;
				width: 75px;
            }
    .cp-promo-play {
        background: #fff url(../images/sprites.png) no-repeat -79px -353px;
        bottom: 0px;
        display: block;
        height: 43px;
        left: 0px;
        list-style: none;
        list-style-image: none;
        margin: 0;
        outline: none;
        padding: 8px 3px;
        position: absolute;
        text-align: left;
        /*text-indent: -9999px;*/
        width: 53px;
        z-index: 3;        
    }
        .cp-promo-play:hover,
        .cp-promo-play:focus,
        .cp-promo-play:active {
            outline: none;
        }
    .cp-promo-paused .cp-promo-play {
        background-position: -79px -379px;
    }

    /* customised templates */
    .cp-promo-carousel li a.cp-promo-tRight {
        left: auto;
        right: 21px;
    }
    .cp-promo-carousel li a.cp-promo-tBlack {
    }
        .cp-promo-carousel li a.cp-promo-tBlack .cp-promo-top {
            background-position: left -14px;
            opacity: 0.75;
            filter:Alpha(Opacity=75);
        }    
        .cp-promo-carousel li a.cp-promo-tBlack .cp-promo-bg {
            background:#000;        
            opacity: 0.75;
            filter:Alpha(Opacity=75);
        }    
        .cp-promo-carousel li a.cp-promo-tBlack .cp-promo-btm {
            background-position: left -21px;
            opacity: 0.75;
            filter:Alpha(Opacity=75);
        }
        .cp-promo-carousel li a.cp-promo-tBlack .cp-promo-cta {
            background-position: left -28px;
        }        
            .cp-promo-carousel li a.cp-promo-tBlack .cp-promo-cta span {
                background-position: right -28px;
            }        


/* small screen */
@media screen and (max-width:768px) {
	#portfolio {
		border-top: none;
	 	height: auto;
		width: auto;	
	}
	.cp-promo {
	 width: auto;
	}
	.cp-promo-controller {
	 height: auto;
	 padding-bottom: 5px;
	 position: relative;
	 width: auto;
	}
		.cp-promo-controller li {
			background: #333;
			border-radius: 2px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			margin: 2px;
			width: 94px !important;
		}
	.cp-promo-carousel {
		border-top: 5px solid #00ADEF;
	 	margin-left: 0;
		padding-top: 5px;
	 	width: auto;
	}
	.cp-promo-carousel li .cp-promo-label {
		border-bottom: none;
		bottom:0;
		font-size:0.7em;
		left:0;
		position:relative;
		right:auto;
		width:auto;
	}
	.cp-promo-carousel li .cp-promo-bg {
		width: auto;
	}
}
@media screen and (max-width:768px) {
	.cp-promo-carousel ul {
		height: 320px;
	}
	.cp-promo-carousel li,
	.cp-promo-carousel li img { width: 290px !important; }
}
/*
  cp-postDate
------------------------------*/
.cp-postHeader {
	/*
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
	background: -moz-linear-gradient(top,  #ccc,  #000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000');
	*/
	position: relative;
	min-height: 50px;
	padding:  10px 0 10px 15px;
}
  .cp-postHeader h2 {
    margin: 0;
  }
  .cp-postHeader-date {
      background: url(../images/sprites.png) no-repeat top left;
      color: white;
      font-size: 0.7em;
      height: 30px;
      left: -14px;
      line-height: 1em;
      padding: 6px 5px 0 0;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 10px;
      width: 34px;
  }
  .cp-postHeader-details {
    font-size: 0.55em;
    text-transform: uppercase;
  }
/*
	cp-twitter
----------------------------------------------------------------------*/
.cp-twitter {
	margin: 0;
	padding: 0;
}
	.cp-twitter li {
		list-style: none;
		margin: 0;
		padding: 0 0 10px;
	}


/*
	list-blogs
----------------------------------------------------------------------*/
ul.list-blogs {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0 25px 0 0;
}
	ul.list-blogs li {
		clear:both;
		padding: 5px 0 10px;
	}
		.list-blogs-header {
			font-size: 1em;
			margin: 0;
			padding:0;
		}
		.list-blogs-date {
			background: url(../images/sprites.png) no-repeat top left;
			color: white;
			float: left;
			font-size: 0.8em;
			height: 30px;
			line-height: 1em;
			padding: 6px 5px 0 0;
			text-align: center;
			text-transform: uppercase;
			width: 34px;
		}	
		.list-blogs-date abbr {
			display: block;
		}
		ul.list-blogs li .list-blogs-header a {
			display: block;
		}
		h2.list-blogs-header a {
			font-size: 1.2em;
			line-height: 1.1em;
		}
