/*
	nav-block
-----------------------------------------------------*/
.nav-block a {
	background: #888;
	display: block;
	margin: 3px 0;
	padding: 3px 10px;
}
.nav-block a:hover {
	background: #999;
	text-decoration: none;
}

/*
	nav-v
	to be used with cc
-----------------------------------------------------*/
.nav-v {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
	.nav-v li { display: block; list-style: none; list-style-image: none; }

/*
	nav-h
	to be used with cc
-----------------------------------------------------*/
ul.nav-h,
.nav-h ul {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
	.nav-h li { display: inline; float: left; list-style: none; list-style-image: none; padding: 3px 6px; white-space:nowrap; }
