/*
	modules
-------------------------------------------------------*/

#articles {
	padding-left: 20px;
}
#articleContent {
	padding-left: 30px;
}

/*
	mod-comments
-------------------------------------------------------*/
.mod-comments {
	padding: 0 0 10px 30px;
}
	.mod-comments h2 {
		color: #888;
		font-size: 2.4em;
	}

/*
	mod-fullArticles
-------------------------------------------------------*/
.mod-fullArticles {
	background-color: white;
	padding: 20px 15px;
}
	.mod-fullArticles-article {
		border-bottom:1px dotted #ddd;
		margin-bottom:40px;
		overflow:hidden;
		padding-bottom:20px;
		width:680px;
	}
	.mod-fullArticles-pubDate {
		color: #888;
		margin: 0;
		padding: 2px 0;
		font-size: 0.8em;
	}	

/*
	mod-navSection
-------------------------------------------------------*/
.mod-navSection {
	background: rgba(0,0,0,0.6);
	margin: 0 0 10px;
	padding: 15px 15px 10px;
}

/*
	mod-post
-------------------------------------------------------*/
.mod-post {
	clear: both;
}

/*
	mod-projects
-------------------------------------------------------*/
.mod-projects {
	
}

/*
	mod-testimonials
-------------------------------------------------------*/
.mod-testimonials {
}
	.mod-testimonials h2 {
		text-shadow: 0 1px 3px #003348;
		filter: progid:DXImageTransform.Microsoft.Shadow(color=#003348,direction=180,strength=1);
		line-height: 0.8em;
	}
	.mod-testimonials ul {
	}
	.mod-testimonials ul li {
	}
		.mod-testimonials ul li a {	
			color: #ccc;
			text-shadow: -1px -1px 0 #000;
		}
		.mod-testimonials ul li p {
			color: #fff;
			line-height: 1.1em;
			text-shadow: 0 1px 0 #333333;
			filter: progid:DXImageTransform.Microsoft.Shadow(color=#333333,direction=180,strength=1);
		}
		
@media (max-width:768px) {
	#articleContent {
		padding-left: 15px;
	}
}
@media (max-width:481px) {
	.mod-comments {
		padding-left: 0;
	}
}