
/* line 1 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 13 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/border.styl */

/* line 2 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/flex.styl */

/* line 154 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/gradients.styl */

/* line 154 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/image.styl */

/* line 15 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 532 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/vendor.styl */

/* line 532 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/config.styl */

/* line 4 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/variables.styl */

/* line 2 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/mixins.styl */

/* line 7 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/mixins.styl */
.visuallyhidden {
  position: absolute;
  display: block;
  top: -10000px;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 16 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/mixins.styl */
.clearfix {
  zoom: 1;
}

/* line 23 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/clearfix.styl */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 27 : /Users/davetayls/Sites/davetayls/davetayls.github.com/node_modules/nib/lib/nib/clearfix.styl */
.clearfix:after {
  clear: both;
}

/* line 6 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand.styl */
/**
	=> lib files
	--------------------------------------------------*/

/* line 26 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */

/* line 9 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 16 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  zoom: 1;
}

/* line 23 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
body {
  line-height: 1.08;
}

/* line 26 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
ol,
ul,
ol {
  list-style-type: decimal;
}

/* line 28 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
ol ol {
  list-style-type: lower-alpha;
}

/* line 29 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
ol li {
  zoom: normal;
}

/* line 30 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
ul {
  list-style-type: disc;
}

/* line 31 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
ul li,
blockquote,
q {
  quotes: none;
}

/* line 34 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 40 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
:focus {
  outline: 0;
}

/* line 43 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
ins {
  text-decoration: none;
}

/* line 44 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
del {
  text-decoration: line-through;
}

/* line 47 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
a img {
  border: 0;
}

/* line 56 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 57 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/reset.styl */
mark,
m,
meter,
progress,
small,
time {
  display: inline;
}

/* line 57 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
@font-face {
  font-family: 'icons';
  src: url("/lib/icons/font/icons.eot");
  src: url("/lib/icons/font/icons.eot?#iefix") format('embedded-opentype'), url("/lib/icons/font/icons.woff") format('woff'), url("/lib/icons/font/icons.ttf") format('truetype'), url("/lib/icons/font/icons.svg#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* line 16 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
.font-family--sans,
body,
select,
input,
textarea {
  font-family: "Pontano Sans", Tahoma, Arial, Helvetica, "Nimbus Sans L", "Free Sans", Sans-Serif;
}

/* line 18 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
.font-family--serif,
blockquote {
  font-family: Georgia, Serif;
}

/* line 26 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 28 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
html {
  overflow-y: scroll;
}

/* line 31 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */

/* line 34 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
body {
  color: #444;
  font-size: 100%;
/*16px*/
  line-height: 1.5;
}

/* line 39 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
body.acc-med {
  font-size: 0.92em;
}

/* line 40 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
body.acc-large {
  font-size: 1.1em;
}

/* line 44 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

/* line 49 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
::-moz-selection {
  background: #009cc7;
  color: #fff;
  text-shadow: none;
}

/* line 50 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
::selection {
  background: #009cc7;
  color: #fff;
  text-shadow: none;
}

/* line 53 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
a {
  outline: none;
}

/* line 54 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
a:active,
a:hover {
  outline: none;
}

/* line 56 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
a {
  -webkit-transition: all 0.1s ease-in-out;
}

/* line 59 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
a,
a:visited,
a:link {
  color: #00adef;
  text-decoration: none;
}

/* line 60 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
a:focus,
a:hover,
a:active {
  color: #333;
}

/* line 63 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
a img {
  border: none;
}

/* line 66 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 70 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
blockquote {
  position: relative;
}

/* line 74 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
blockquote p {
  color: #000;
  font-size: 1.7em;
  line-height: 1;
  padding: 0 20px 15px;
  font-style: italic;
  letter-spacing: -0.04em;
}

/* line 82 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
blockquote:before {
  content: '“';
  font-style: italic;
  font-size: 4em;
  position: absolute;
  top: -16px;
  left: -12px;
  width: 1em;
}

/* line 95 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 96 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
object,
embed,
img {
  max-width: 100%;
}

/* line 99 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
p {
  margin: 0;
  padding: 0 0 15px;
}

/* line 100 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
article p {
  text-align: justify;
}

/* line 102 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
pre {
  white-space: pre;
/* CSS2 */
  white-space: pre-wrap;
/* CSS 2.1 */
  word-wrap: break-word;
/* IE */
}

/* line 108 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
small {
  font-size: 85%;
}

/* line 113 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* line 120 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* line 121 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
h1 {
  color: #000;
  font-size: 2.375em;
/* 24px */
  font-weight: normal;
  letter-spacing: 0.003em;
  line-height: 1;
/* 36px */
  margin: 0;
  padding: 0 0 10px;
}

/* line 130 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
h1 time {
  color: #888;
  text-transform: uppercase;
  font-size: 0.473684210526em;
}

/* line 136 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
h1 a,
h1 a:visited,
h1 a:link {
  color: #000;
}

/* line 140 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
h2 {
  color: #777;
  font-size: 1.429em;
/* 20px */
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.008em;
  line-height: 1.35;
  margin: 0;
  padding: 15px 0 5px;
}

/* line 150 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 8px;
}

/* line 156 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
h5 {
  margin: 0 0 5px;
}

/* line 167 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
dl {
  padding: 0 0 24px 0;
  zoom: 1;
}

/* line 168 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
dl:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 169 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
dt,
dd {
  float: left;
}

/* line 170 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
dt {
  font-weight: bold;
  padding-right: 12px;
}

/* line 171 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
dd {
  padding-right: 24px;
}

/* line 173 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
li {
  line-height: 1.5;
}

/* line 174 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
ol {
  padding: 10px 0 10px 23px;
}

/* line 175 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
ul {
  padding: 10px 0 10px 20px;
}

/* line 176 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
ul li,
ul li li {
  list-style-image: none;
  list-style-type: circle;
}

/* line 178 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
ul li li li {
  list-style-image: none;
  list-style-type: disc;
}

/* line 179 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
ul li li li li {
  list-style-image: none;
  list-style-type: square;
}

/* line 181 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
p+ol,
p+ul,
h2+ol,
h2+ul,
h3+ol,
h3+ul {
  padding-top: 0;
}

/* line 186 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
button,
select,
input,
textarea {
  font-size: 99%;
  font-family: inherit;
}

/* line 190 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
button {
  width: auto;
  overflow: visible;
}

/* line 193 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
input {
  vertical-align: middle;
}

/* line 196 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
textarea {
  vertical-align: 1px;
}

/* line 200 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 203 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

/* line 208 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 215 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
table {
  font-size: inherit;
  font: 100%;
}

/* line 216 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
table {
  border-bottom: solid 1px #fff;
  border-collapse: separate;
  clear: both;
  font-size: 0.9em;
  margin: 10px 0;
  padding: 0;
}

/* line 224 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
th {
  border-top: 1px solid #fff;
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.2em;
  padding: 15px 5px;
  text-align: left;
}

/* line 232 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
td {
  border-top: dotted 1px #fff;
  border-bottom: dotted 1px #ccc;
  border-left: solid 1px #efefef;
  padding: 3px 5px;
}

/* line 238 : /Users/davetayls/Sites/davetayls/davetayls.github.com/_stylus/brand/brand.styl */
tr:nth-child(even) td {
  background-color: #eee;
}

/* line 2 : /Users/davetayls/Sites/davetayls/davetayls.github.com/components/icons.styl */

/* line 2 : /Users/davetayls/Sites/davetayls/davetayls.github.com/components/icons.styl */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  line-height: 1em;
/* fix buttons height */
}

/* line 14 : /Users/davetayls/Sites/davetayls/davetayls.github.com/components/icons.styl */
.icon-vcard:before {
  content: '\e722';
}

/* line 15 : /Users/davetayls/Sites/davetayls/davetayls.github.com/components/icons.styl */
.icon-rss-alt:before {
  content: '\e73b';
}

/* line 16 : /Users/davetayls/Sites/davetayls/davetayls.github.com/components/icons.styl */
.icon-twitter-bird:before {
  content: '\f303';
}

/* line 17 : /Users/davetayls/Sites/davetayls/davetayls.github.com/components/icons.styl */
.icon-github:before {
  content: '\f308';
}

/* line 18 : /Users/davetayls/Sites/davetayls/davetayls.github.com/components/icons.styl */
.icon-googleplus-rect:before {
  content: '\f309';
}

/* line 19 : /Users/davetayls/Sites/davetayls/davetayls.github.com/components/icons.styl */
.icon-linkedin-rect:before {
  content: '\f31b';
}

/* line 20 : /Users/davetayls/Sites/davetayls/davetayls.github.com/components/icons.styl */
.icon-graduation-cap:before {
  content: '';
}

/* line 21 : /Users/davetayls/Sites/davetayls/davetayls.github.com/components/icons.styl */
.icon-book:before {
  content: '';
}

/* line 22 : /Users/davetayls/Sites/davetayls/davetayls.github.com/components/icons.styl */
.icon-clock:before {
  content: '';
}
