/*
    core.css
    =================================
*/

/**
    => lib files
--------------------------------------------------*/
@import url("brand/brand.css");

/**
    => animations
--------------------------------------------------*/
@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(-360deg); }
}

/**
    => structure
--------------------------------------------------*/
#pageHeader {
    padding: 0 8px 16px;
}
    #homeHeader {
        position:absolute;
        display: block;
        top: auto;
        left: -10000px;
        width: 1px;
        height: 1px;
    }
    #logo a:link,
    #logo a:visited,
    #logo a:active,
    #logo a:hover,
    #logo a {
        background: none;
        outline: none;
    }
    #nav-primary ul li:first-child {
        /* visually hidden */ position:absolute; display: block; top: -10000px; left: -10000px; width: 1px; height: 1px; overflow: hidden;
    }

#wrapper {
    background: url(../images/content-bg.gif) repeat-x 0 -3px;
}
#contentWrapper {
    padding: 16px 8px;
}
#contentWrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#pageFooter {
    background: #ddd;
    padding: 16px 8px;
}
    #pageFooter-inner {
        margin: 0 auto;
    }
    #pageFooter-inner ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }
        #pageFooter-inner ul li {
            display: -moz-inline-stack;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            list-style: none outside none;
            margin: 0;
            padding: 0 16px 0 0;
        }

h1 time {
    color: #888;
    text-transform: uppercase;
    font-size: 0.75em;
}

/**
    => prettyprint
--------------------------------------------------*/
pre.prettyprint {
    border: solid 1px #fff;
    background: #eee;
    margin: 0 0 16px;
    padding: 5px;
    font-size: 0.75em;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
        -ms-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
}
@media (min-width: 768px){
    pre.prettyprint {
        font-size: 1em;
        padding: 10px;
        margin: 16px 0;
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
           -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
            -ms-box-shadow: 0 0 10px rgba(0,0,0,0.3);
             -o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
                box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
}

/**
    => pager-nav
--------------------------------------------------*/
.pager-nav  {
    padding: 0 0 16px;
}
.pager-nav li {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
    .pager-nav li a {
        display: -moz-inline-stack;
        display: inline-block;
        padding: 2px 3px;
    }
.pager-nav:before {
    content: "page: "
}

/**
    => cp-avatar
--------------------------------------------------*/
.cp-avatar {
    float: left;
    border: solid 3px #eee;
    margin: 7px 8px 8px 5px;
    padding: 0;
    -webkit-transform: rotate(-3deg);
       -moz-transform: rotate(-3deg);
         -o-transform: rotate(-3deg);
            transform: rotate(-3deg);
    -webkit-box-shadow: 0 0 6px #000;
       -moz-box-shadow: 0 0 6px #000;
         -o-box-shadow: 0 0 6px #000;
            box-shadow: 0 0 6px #000;
}
    .cp-avatar img {
        display: block;
    }

/**
    => list-blogs
--------------------------------------------------*/
.list-blogs li {
    border-bottom: solid 1px #ddd;
}
.list-blogs li a {
    display: block;
    font-weight: normal;
    font-size: 1em;
    margin: 0;
    padding: 2px 4px;
}
    .list-blogs-date {
        font-size: 0.625em;
    }

/**
    => menu
--------------------------------------------------*/
.menu,
.menu ul {
    clear: both;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

/**
    => pager-nav
--------------------------------------------------*/
.pager-active ul.pager-nav {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
}
    .pager-active ul.pager-nav li {
        border: none;
    }

/**
    => cp-comments
--------------------------------------------------*/
.cp-comments:link,
.cp-comments:visited,
.cp-comments {
    display: block;
    color: #555;
    font-size: 0.8em;
}

/**
    => cp-sharelinks
--------------------------------------------------*/
.cp-sharelinks {
    height: 28px;
    padding: 0 0 16px;
}

/**
    => mod-blogPosts
--------------------------------------------------*/
.mod-blogPosts article {
    border-bottom: dotted 1px #ddd;
    padding-bottom: 32px;
    margin-bottom: 32px;
}
/**
    => mod-imageGrid
--------------------------------------------------*/
.mod-imageGrid {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: justify;
    zoom: 1;
}
.mod-imageGrid:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    .mod-imageGrid li {
    }

/**
    => tweet_list
--------------------------------------------------*/
.tweet_list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
    .tweet_list li {
        clear: both;
        padding: 0 0 21px;
    }
        .tweet_avatar {
            float: left;
            margin: 2px 5px 5px 0;
        }
        .tweet_time a {
            color: #aaa;
        }

/**
    => max-width 500px screens
--------------------------------------------------*/
@media screen and (max-width: 500px) {

    /**
        => structure
    --------------------------------------------------*/
    #logo {
        width: 25%;
    }

    /**
        => nav-primary
    --------------------------------------------------*/

    .menu ul,
    #nav-primary ul {
        list-style: none outside none;
        margin: 10px 0 0;
        padding: 0;

        -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
           -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
             -o-box-shadow: 0 0 5px rgba(0,0,0,0.3);
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
        .menu ul li,
        #nav-primary ul li {
            border: solid 1px #ddd;
            border-bottom: none;
            padding: 0px;
            overflow: hidden;
        }
        .menu ul li:first-child,
        #nav-primary ul li:first-child {
        }
        .menu ul li:last-child,
        #nav-primary ul li:last-child {
            border-bottom: solid 1px #ddd;
        }
            .menu ul li a,
            #nav-primary ul li a {
                display: block;
                padding: 6px;
            }
            #nav-primary ul li a:hover,
            #nav-primary ul li a:focus,
            #nav-primary ul li a:active {
                background: #00ADEF;
                color: #fff;
                text-decoration: none;
                -webkit-text-shadow: none;
                   -moz-text-shadow: none;
                     -o-text-shadow: none;
                        text-shadow: none;
                background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0, rgb(0,139,194)),
                    color-stop(1, rgb(0,171,239))
                );
                background-image: -moz-linear-gradient(
                    center bottom,
                    rgb(0,139,194) 0%,
                    rgb(0,171,239) 100%
                );
                background-image: linear-gradient(
                    center bottom,
                    rgb(0,139,194) 0%,
                    rgb(0,171,239) 100%
                );

            }
}
/**
    => min-width 500px screens
--------------------------------------------------*/
@media screen and (min-width:500px) {
    #pageHeader {
        padding: 0 16px 16px;
        position: relative;
        zoom: 1;
    }
    #pageHeader:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    #logo {
        float: left;

        -webkit-perspective: 800;
        -webkit-perspective-origin: 50% 90px;
        -webkit-transform-style: preserve-3d;
    }
        #logo img {
            -webkit-animation: spin 0.7s 1 ease-in;
            -webkit-animation-delay: 1s;
        }
    /**
        => nav-primary
    --------------------------------------------------*/
    #nav-primary {
        float: left;
        margin-left: 1px;
    }
        #nav-primary ul {
            list-style: none outside none;
            margin: 0;
            padding: 0;
        }
            #nav-primary ul li {
                display: block;
                list-style: none outside none;
                margin: 0 0 1px;
                padding: 0;
            }
                #nav-primary ul li a {
                    display: inline-block;
                    background: #009cc7;
                    color: #fff;
                    font-size: 0.875em;
                    padding: 3px 5px;
                }
                #nav-primary ul li a:hover {
                    color: #000;
                    text-decoration: none;
                    border: none;
                }

    /**
        => mod-imageGrid
    --------------------------------------------------*/
    .mod-imageGrid {}
        .mod-imageGrid li {
            border: solid 10px #eee;
            float: left;
            margin: 10px 10px 10px 0;
            position: relative;
            width: 250px;
            height: 140px;
            overflow: hidden;
            vertical-align: top;
            -webkit-perspective: 800px;
               -moz-perspective: 800px;
                -ms-perspective: 800px;
                 -o-perspective: 800px;
                    perspective: 800px;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
               -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
                 -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
                    box-shadow: 0 0 10px rgba(0,0,0,0.6);
        }
            .mod-imageGrid li a {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -webkit-transform-style: preserve-3d;
                   -moz-transform-style: preserve-3d;
                    -ms-transform-style: preserve-3d;
                     -o-transform-style: preserve-3d;
                        transform-style: preserve-3d;
            }
                .mod-imageGrid li h2 {
                    font-size: 1em;
                    color: #fff;
                    text-align: left;
                    text-shadow: 1px 1px 0 #000;

                    background: #000;
                    background: rgba(0,0,0,0.8);

                    position: absolute;
                    top: 10%;
                    left: 0;
                    width: 60%;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    z-index: 2;
                }
                    .mod-imageGrid li h2 span {
                        display: block;
                        padding: 5%;
                    }
                .mod-imageGrid li img {
                    display: block;
                    width: auto;
                    max-width: none;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

}

/*
    => min
--------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1000px) {
    #contentWrapper {
        padding: 16px 0 16px 32px;
    }
        #content {
            float: left;
            width: 568px;
        }
        #related {
            float: right;
            padding: 0 16px 0 0;
            width: 116px;
            font-size: 0.75em;
        }
            #related h2 {
                /*font-size: 1.125em;*/
            }
}

/**
    => min-width 1000px screens
--------------------------------------------------*/
@media screen and (min-width:1000px) {

    /**
        => structure
    --------------------------------------------------*/
    #pageHeader {
        margin: 0 auto;
        width: 980px;
    }
    #contentWrapper {
        width: 948px;
        margin: 0 auto;
        padding: 16px;
    }
        #content {
            float: left;
            width: 568px;
        }
        #related {
            float: right;
            padding: 0 0 0 32px;
            width: 260px;
        }
            #related p {
                font-size: 0.75em;
            }
        #pageFooter {
            clear: both;
        }
            #pageFooter-inner {
                width: 980px;
            }
}


