/*
    3.0_2.screen-components
    
    - basic reusable items which are simple
    - components cannot contain child components or modules
    - components can use the following prefixes:
      - cp    component
      - cta   call to action
      - hs    hotspot
    
    Component styles should be grouped together with a heading name
    and description. Styles within each group should then appear as
    they do in the markup including indentation.
    
    Component definitions should be ordered alphabetically.
    
    See example below. 
    (Note: A space has been added next to * to prevent this comment block from breaking.
    This would be removed when used)

/ *
	cp-componentName
	Description of component
----------------------------------------* /
.cp-componentName {}
	.cp-componentName-member {}
	.cp-componentName a {}

/ *
	cp-secondComponentName
	Description of component
----------------------------------------* /
.cp-secondComponentName {}
	.cp-secondComponentName-member {}
	.cp-secondComponentName a {}


*/
@import "../../scripts/core/promos/promo";
@import "../../scripts/core/articles/core";
@import "../../scripts/core/projects/core";
@import "../../scripts/core/related/core";

/*
    components
----------------------------------------------------------------------*/

/*
    cp-contact
------------------------------------------------*/
#cp-contact {
    background-color: #444;
    border: solid 5px #00ADEF;
    position: absolute;
    top: 0;
    right: 20px;
    width: 300px;
    z-index: 10;
}
    #cp-contact {
        
    }

.cp-subscribeLink {}
	.cp-subscribeLink img { vertical-align: text-bottom; }

/*
    cp-twitter
----------------------------------------------------------------------*/
.cp-twitter {
    margin: 0;
    padding: 0;
}
    .cp-twitter li {
        list-style: none;
        margin: 0;
        padding: 0 0 10px;
    }


/*
 * cp-workSquare
 */
.cp-workSquare {
    display: -moz-inline-stack;
    display: inline-block;
    height: 149px;
    margin: 12px;
    overflow: hidden;
	position: relative;
    width: 149px;
}
a.cp-workSquare {
    background: #000;
}
a.cp-workSquare:hover {
    border: solid 12px #000;
    margin: 0;
}
	.cp-workSquare img {
		max-height: 149px;
	}
	.cp-workSquare-caption {
		background: rgba(0, 0, 0, 0.6);
		padding: 5px;
		position: absolute;
		top: 0;
		left: 0;
	}

@media screen and (max-width:480px) {
    .cp-workSquare {
        height: 100px;
        width: 100px;
    }
}