---
title: 3M0H
layout: master
description: maker of stuff, often webby related, daddy and blessed to have a wife that makes lots of cakes mmmm
---
<div id="contentWrapper">
    <h1 id="homeHeader">David Taylor - Front-End Interface Web Developer</h1>
    <section id="content" class="mod-blogPosts">            
        {% include blog-posts.html %}
    </section>
    <aside id="related" class="menu">
        <h1>Other Info</h1>
        <h2>About me</h2>
        <ul>
            <li> <a href="pdf/David_Taylor_CV_07540817008.doc">Download my <abbr title="Curriculum Vitae">CV</abbr>[<abbr title="word document">doc]</abbr></a> </li>
            <li> <a href="pdf/David_Taylor_CV_07540817008.pdf">Download my <abbr title="Curriculum Vitae">CV</abbr>[PDF]</a> </li>
            <li> <a href="http://feed.the-taylors.org">Blog RSS Feed</a> </li>
            <li> <a href="http://twitter.com/davetayls">Twitter @davetayls</a> </li>
            <li> <a href="http://www.linkedin.com/in/davidtaylorlondon">LinkedIn</a> </li>
        </ul>                   
        {% include categories.html %}
        <h2>Reference</h2>
        <ul>
            <li> <a href="http://the-taylors.org/front-end-standards/">Front-End Standards</a> </li>
            <li> <a href="TestStation/csssprites/csssprites.htm">CSS Sprites</a> </li>
        </ul>                   
        <h2>jQuery Plugins</h2>
        <ul>
            <li>
                <a href="http://the-taylors.org/jquery.kinetic/">jQuery.kinetic (kinetic scrolling plugin with drag. inc touch devices)</a>
			    <a class="cp-comments" href="http://the-taylors.org/jquery.kinetic/#disqus_thread">Comments</a>
            </li>
            <li>
                <a href="http://the-taylors.org/jquery.maps/">jQuery.maps (Generate google maps from markup)</a>
			    <a class="cp-comments" href="http://the-taylors.org/jquery.maps/#disqus_thread">Comments</a>
            </li>
            <li>
                <a href="http://github.com/davetayls/jquery.pager/">jQuery.pager (paging for lists)</a>
            </li>
            <li>
                <a href="http://github.com/davetayls/jquery.liScroll/">liScroll additions</a></li>
            <li>
                <a href="jQueryPlugins/jquery.windowViewer.htm">jquery.windowViewer</a>
            </li>
        </ul>
        <h2>Twitter</h2>
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_twitter_follow_native" tf:screen_name="davetayls"></a>
        </div>
        <div id="tweets"></div>
        <p><a href="http://twitter.com/davetayls">more tweets</a></p>
    </aside>
</div>
