
.postimage
  aspect-ratio(56.25%)
  background-size cover
  margin: 0 0 $baseline--px;
  padding: 0;
  max-height 80vh

  img
    display: block;
    min-width: 100%

  @media all and (max-width: 500px)
    margin: 0(0 - $baseline--px) $baseline--px;
