---
layout: post
title: David Taylor's Blog
comments: hide
related: hide
---

{% for post in site.posts limit:5 %}
<div class="mod-post">
  <div class="cp-postHeader">
		<p class="cp-postHeader-date">{{ post.date | date:"%d<br />%b" }}</p>
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<p class="cp-postHeader-details">
			Posted by: {{ post.author }}
			{% if post.categories %}
				<span> in:</span> 
					&nbsp;{{ post.categories }}
			{% endif %}
		</p>
  </div>                                                              
	<div class="mod-post-content">
	{{ post.content }}
	 </div>	
</div>
{% endfor %}
