<h2>About me</h2>
<p class="cp-avatar">
   <img src="http://1.gravatar.com/avatar/bbf81bc82fed795624ed696fe1e5aee0" alt="Dave Taylor" />
</p>
<p>
   maker of stuff, often webby related,
   daddy and blessed to have a wife that makes lots of cakes mmmm.
   <a href="/davetayls">more ...</a>
</p>
<ul class="menu">
  <li> <a class="icon-vcard" href="/cv">CV</a></li>
  <li> <a class="icon-twitter-bird" href="http://twitter.com/davetayls" rel="me">Twitter @davetayls</a> </li>
  <li> <a class="icon-linkedin-rect" href="http://www.linkedin.com/in/davetayls">LinkedIn</a> </li>
  <li> <a class="icon-github" href="http://github.com/davetayls">Github</a> </li>
  <li> <a class="icon-rss-alt" href="http://feed.the-taylors.org">Blog RSS Feed</a> </li>
  <li> <a class="icon-googleplus-rect" href="https://plus.google.com/103477668197991622209" rel="me">G+</a> </li>
</ul>

