<footer class="PageFooter">
  <div class="PageFooter-inner pure-g">
    <div class="PageFooter-contact pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      <h1 class="PageFooter-name">Dave Taylor - {{ site.job_title }}</h1>
      <h2 class="PageFooter-company">Pogo Kid Limited.<br/>Company Number: 8184013</h2>
      <address class="PageFooter-address">
        63 Downs View,<br />
        Bradford-on-Avon,<br />
        BA15 1PW
      </address>
      <p class="PageFooter-phone">Phone: 0754 081 7008</p>
    </div>
    <div class="PageFooter-links pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      <ul class="LinkList">
        <li class="LinkList-item"><a href="/cv/">View full CV</a></li>
        <li class="LinkList-item"><a href="/cv/Dave Taylor Frontend Developer - Lead - Mentor.docx">Download short CV Word document</a></li>
        <li class="LinkList-item"><a href="/blog/">Blog</a></li>
        <li class="LinkList-item"><a href="/talksandtraining/">Talks</a></li>
        <li class="LinkList-item"><a href="https://davetayls.me/atom.xml">Blog RSS Feed</a></li>
        <li class="LinkList-item"><a href="http://twitter.com/davetayls">Twitter @davetayls</a></li>
        <li class="LinkList-item"><a href="http://www.linkedin.com/in/davetayls">LinkedIn</a></li>
        <li class="LinkList-item"><a href="http://github.com/davetayls">Github</a></li>
        <li class="LinkList-item"><a href="https://davetayls.me/glossary/">Glossary</a></li>
      </ul>
    </div>
    <div class="PageFooter-skills pure-u-1 pure-u-lg-1-2">
      {% include components__BlogTags.html %}
    </div>
  </div>
</footer>
