<aside class="AboutMeAside">
  <figure class="AboutMeAside-avatar">
    <img src="/content/dave-taylor-square.jpg" alt="{{site.site_name}} Pogo Kid"/>
    <figcaption>Dave Taylor</figcaption>
  </figure>
  <h2 class="AboutMeAside-name">Dave Taylor</h2>
  <p class="AboutMeAside-jobTitle">
    <a href="/workwithme">{{ site.job_title }}</a>
  </p>

  {% assign RecommendationQuote = site.data.recommendation_quotes[3] %}
  {% include components__RecommendationQuote.html %}

  <p>
    <a class="Button Button--isBlock" href="/workwithme">Work with me</a>
  </p>

  <ul class="LinkList LinkList--double">
    <li class="LinkList-item">
      <a class="Button Button--isLink Button--isOnLight" href="/cv">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <span>CV</span>
      </a>
    </li>
    <li class="LinkList-item">
      <a class="Button Button--isLink Button--isOnLight" href="http://twitter.com/davetayls" rel="me">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <span>Twitter</span>
      </a>
    </li>
    <li class="LinkList-item">
      <a class="Button Button--isLink Button--isOnLight" href="http://www.linkedin.com/in/davetayls">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <span>LinkedIn</span>
      </a>
    </li>
    <li class="LinkList-item">
      <a class="Button Button--isLink Button--isOnLight" href="http://github.com/davetayls">
        <i class="fa fa-github" aria-hidden="true"></i>
        <span>Github</span>
      </a>
    </li>
  </ul>
</aside>

