
<section class="ProductColumns">

  <ul class="ProductColumns-list">
    <li>
      <h2>Pull Request and 1 on 1 Team Mentoring Sessions</h2>
      <p>
        My mission is to see frontend developers live inspired and creative.
      </p>
      <p>
        This is because I believe that inspired people create innovative work and that's an exciting place to be.
      </p>
    </li>
    <li>
      <h2>Senior HTML5 Development</h2>

    </li>
    <li>
      <h2>Frontend Consultancy and Mentoring</h2>
    </li>
  </ul>
</section>
