<section class="HeroJobTitle">
  <div class="HeroJobTitle-container Container">
    <div class="HeroJobTitle-inner">
      <h1 class="HeroJobTitle-title">{{ site.job_title }}</h1>
      <ul class="HeroJobTitle-iBelieve">
        <li>
          <h2 class="HeroJobTitle-iBelieveTitle">I believe in a great product.</h2>
          <p class="HeroJobTitle-iBelieveDescription">An inspired team and a laser focus on the user's experience will produce the best results.</p>
        </li>
        <li>
          <h2 class="HeroJobTitle-iBelieveTitle">I believe in community.</h2>
          <p class="HeroJobTitle-iBelieveDescription">I like to get stuck in, to give direction and help project owners make the best of an ever-changing technical landscape.</p>
        </li>
        <li>
          <h2 class="HeroJobTitle-iBelieveTitle">I believe in creativity and inspiration.</h2>
          <p class="HeroJobTitle-iBelieveDescription">This forms the basis of how I approach working with frontend teams either as a developer or as a lead.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
