<div id="cp-contact">
    <h2 class="handFont">Don't be a stranger</h2>
    <ul id="social" class="cc">
        <li>
            <a onclick="dt.analytics.trackLink(this,'subscribe','homeright');return false;" class="" href="http://feed.the-taylors.org">Subscribe to my RSS feed</a>
        </li>
        <li>
            <a class="" href="http://twitter.com/davetayls">View my twitter feed</a>
        </li>
        <li>
            <a class="" href="http://www.linkedin.com/in/davetayls">View my LinkedIn profile</a>
        </li>
        <li>
            <a class="" href="http://www.redbubble.com/people/davetayls">Buy some of my paintings</a>
        </li>
    </ul>
    <ul class="nav-contacts">
        <li>
            <strong>Email</strong>: <a href="mailto:dave@the-taylors.org">dave@the-taylors.org</a>
        </li>
        <li>
            <strong>Phone</strong>: 0754 081 7008
        </li>
    </ul>
    <h2 class="handFont">...and if you're a really curious cat</h2>
	<ul>
		<li>
			<a href="pdf/David_Taylor_CV_07540817008.pdf" title="David Taylor Graphic Designer / Web Developer CV">you should get my CV here</a>						
		</li>
		<li>
			<a href="/about">or read a little about me</a>
		</li>
	</ul>				
</div>
