<header><div id="pageHeader">
    <div class="pageHeader__inner">
        <div id="logo">
            <a href="/"><img src="/images/logo.gif" alt="Dave Taylor" /></a>
        </div>
        <div id="nav-primary">
            <ul>
                <li>
                    <a accesskey="c" href="#content">Jump to main content [Access key 'C']</a>
                </li>
                <li>
                    <a accesskey="0" href="/">Home</a>
                </li>
                <li>
                    <a href="/workwithme/">Work with me</a>
                </li>
                <li>
                    <a href="/davetayls/">About me</a>
                </li>
                <li>
                    <a href="/talksandtraining/">Talks and Training</a>
                </li>
            </ul>
        </div>
        <a class="show-related" href="#related">Related</a>
    </div>
</div></header> <!-- #pageHeader -->
