            <div id="portfolio">
                <h2 class="acc-item">Portfolio</h2>
				<div class="cp-promo">
					<ul class="cp-promo-controller">
						<li><a href="#lloyds">lloyds.com<br />Sitecore CMS</a></li>
						<li><a href="#s1">M&amp;S<br />Your Green Idea</a></li>
						<li><a href="#s2">juxtapo<br />Front-End Tools</a></li>
						<li><a href="#s3">Fairtrade Stall</a></li>
					</ul>
					<div class="cp-promo-carousel"> 
					    <ul>
					        <li id="lloyds" class="cc">
					            <img src="portfolio/lloyds.png" alt="" />
								
					            <a class="cp-promo-label cc" href="http://www.lloyds.com">
					                <span class="cp-promo-bg"></span>
					                <span class="cp-promo-title">Lloyd&rsquo;s</span>
					                <span class="cp-promo-body"><span class="cp-promo-bodyWrapper">Sitecore CMS build of Lloyd&rsquo;s of London&rsquo;s website along with the migration of five in house applications.</span></span>
					                <span class="cp-promo-cta button-big"><span>View the site &gt;</span></span>
					            </a>
					        </li>
					        <li id="s1" class="cc">
					            <img src="portfolio/mandsyourgreenidea.png" alt="" />
								
					            <a class="cp-promo-label cc" href="http://www.yourgreenidea.co.uk">
					                <span class="cp-promo-bg"></span>
					                <span class="cp-promo-title">M&amp;S. Your Green Idea</span>
					                <span class="cp-promo-body"><span class="cp-promo-bodyWrapper">Marks and Spencer's new Plan A initiative</span></span>
					                <span class="cp-promo-cta button-big"><span>View the site &gt;</span></span>
					            </a>
					        </li>
					        <li id="s2">
					            <img src="images/youtube.png" alt="" />
					            <a class="cp-promo-label" href="http://www.youtube.com/watch?v=no6InlWVSUo">
					                <span class="cp-promo-top"></span>
					                <span class="cp-promo-bg"></span>
					                <span class="cp-promo-btm"></span>
					                <span class="cp-promo-title">Juxtapo</span>
					                <span class="cp-promo-body"><span class="cp-promo-bodyWrapper">A personal open source project giving in-browser tools to assist while you're turning designs in to html/css</span></span>
					                <span class="cp-promo-cta button-big"><span>View on youtube</span></span>
					            </a>
					        </li>
					        <li id="s3">
					            <img src="portfolio/FairTrade.png" alt="" />
					            <span class="cp-promo-label">
					                <span class="cp-promo-top"></span>
					                <span class="cp-promo-bg"></span>
					                <span class="cp-promo-btm"></span>
					                <span class="cp-promo-title">Fair Trade Stall</span>
					                <span class="cp-promo-body"><span class="cp-promo-bodyWrapper">Leaflet design for local fairtrade stall.</span></span>
					                <span class="cp-promo-cta"></span>
					            </span>
					        </li>
					    </ul>
					</div>
				</div>
				
            </div>
