            <div id="portfolio">
                <h2 class="acc-item">Portfolio</h2>
				<div id="portfolio-window">
					<div id="portfolio-window-inner">
												
						<a href="none" class="cp-workSquare">
							<img src="/portfolio/britishredcross.png" />
						</a>
						<a href="none" class="cp-workSquare">
							<img src="/portfolio/britishredcross.png" />
						</a>
						<a href="none" class="cp-workSquare">
							<img src="/portfolio/britishredcross.png" />
						</a>
						<a href="none" class="cp-workSquare">
							<img src="/portfolio/britishredcross.png" />
						</a>
						<a href="none" class="cp-workSquare">
							<img src="/portfolio/britishredcross.png" />
						</a>
						<a href="none" class="cp-workSquare">
							<img src="/portfolio/britishredcross.png" />
						</a>
						<a href="none" class="cp-workSquare">
							<img src="/portfolio/britishredcross.png" />
						</a>
						<a href="none" class="cp-workSquare">
							<img src="/portfolio/britishredcross.png" />
						</a>
						<a href="none" class="cp-workSquare">
							<img src="/portfolio/britishredcross.png" />
						</a>
					</div>
				</div>
				<div id="porfolio-detail">
					<div id="portfolio-detail-wrapper">
						<img src="/portfolio/britishredcross.png" />
						<a id="portfolio-detail-cta" class="cc">
							<span class="portfolio-detail-h">British Red Cross</span>
							<span>lorem ipsum dolor sit amijfl lorem upsum dolor sit lcondighur</span>
						</a>
					</div>
				</div>				
            </div>
