.cp-postHeader {
    position: relative;
    min-height: 50px;
    padding:  10px 0 10px 25px;
}
#articleContent .cp-postHeader { padding-left: 0; }

  .cp-postHeader h1,
  .cp-postHeader h2 {
        font-size:2em;
        font-weight:bold;
        padding:0;
        text-transform:uppercase;
  }
    .cp-postHeader h2 {
        font-size: 1.2em;
        margin: 0 0 3px;
    }
  .cp-postHeader-date {
      background: #444;
      color: white;
      float: left;
      font-size: 0.8em;
      font-weight: bold;
      height: 30px;
      line-height: 1em;
      margin: 0 20px 0 0;
      padding: 6px 3px 0 !important;
      text-align: center;
      text-transform: uppercase;
      width: 34px;
  }
  .cp-postHeader-details {
    font-size: 0.6em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
  }

