.cp-postHeader {
    position: relative;
    min-height: 50px;
    padding:  10px 0 10px;
}
#articleContent .cp-postHeader { padding-left: 0; }

  .cp-postHeader h1,
  .cp-postHeader h2 {
        font-size:2.8em;
        font-weight:bold;
        .leagueGothic();
        line-height: 1em;
        padding:0;
        text-transform:uppercase;
  }
    .cp-postHeader h2 {
        margin: 0 0 3px 60px;
    }
    .cp-postHeader h2 a,
    .cp-postHeader h2 a:active,
    .cp-postHeader h2 a:link {
        color: #000;
    }
  .cp-postHeader .cp-postHeader-date {
            background: #444;
            color: white;
            float: left;
            font-size: 0.8em;
            font-weight: bold;
            height: 45px;
            line-height: 1em;
            margin: 0 10px 10px 0;
            padding: 0 1px 0 0 !important;
            text-align: center;
            text-transform: uppercase;
            width: 45px;
  }
        .cp-postHeader .cp-postHeader-date abbr {
            display: block;
            padding: 13px 0 0;
        }
  .cp-postHeader .cp-postHeader-details {
    font-size: 0.6em;
    letter-spacing: 0.5em;
    margin: 0 0 0 60px;
    padding: 5px 0;
    text-transform: uppercase;
  }

@media screen and (max-width:480px) {
  .cp-postHeader h1,
  .cp-postHeader h2 {
        font-size:2.05em;
	}
}