/**
    => animations
--------------------------------------------------*/
@keyframes spin {
    from { transform: rotateY(0); }
    to   { transform: rotateY(-360deg); }
}
@keyframes fadeInLeft
    from
        opacity: 0
        left: 10px;
    to
        opacity: 1
        left: 0;

@keyframes fadeInTop
    from
        opacity: 0
        top: 10px;
    to
        opacity: 1
        top: 0;

