/**
    => animations
--------------------------------------------------*/
.animated
  animation-duration: 1s;
  animation-fill-mode: both;

.animated.hinge
  animation-duration: 2s

@keyframes spin {
    from { transform: rotateY(0); }
    to   { transform: rotateY(-360deg); }
}
@keyframes fadeInLeft
    from
        opacity: 0
        transform: translateX(10px)
    to
        opacity: 1
        transform: translateX(0)

@keyframes fadeInTop
    from
        opacity: 0
        transform: translateY(10px)
    to
        opacity: 1
        transform: translateY(0)

@keyframes flipInX
  0%
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  40%
    transform: perspective(400px) rotateX(-10deg);
  70%
    transform: perspective(400px) rotateX(10deg);
  100%
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}
