
@import "nib"
@import "variables"
@import "mixins"
@import "animations"

/**
	=> lib files
	--------------------------------------------------*/
@import "google-code-prettify/prettify.styl"
@import "brand/reset"
@import "brand/brand"
@import "icons"
@import "menu"
@import "structure"

/*
	=> blocks
--------------------------------------------------*/
@import "prettyprint"
@import "imageGrid"
@import "pager-nav"
@import "connectWithMe"
@import "avatar"
@import "list-blogs"
@import 'blocks/spinner'
@import 'blocks/pageHeader'

/*
	=> structure
--------------------------------------------------*/

/**
=> pager-nav
--------------------------------------------------*/
.pager-active ul.pager-nav {
	box-shadow: none;
}
.pager-active ul.pager-nav li {
	padding: 0 3px;
	border: none;
}
.pager-currentPage {
	background: #ccc;
}

/**
=> cp-comments
--------------------------------------------------*/
.cp-comments:link,
.cp-comments:visited,
.cp-comments {
	display: block;
	color: #555;
	font-size: 0.8em;
}

/**
=> cp-sharelinks
--------------------------------------------------*/
.cp-sharelinks {
	@extend .clearfix;
	padding: 0 0 16px;
}

/**
=> mod-blogPosts
--------------------------------------------------*/
.mod-blogPosts article {
	border-bottom: dotted 1px #ddd;
	padding-bottom: 32px;
	margin-bottom: 32px;
}
@import "tweet_list";

/**
=> max-width 500px screens
--------------------------------------------------*/
@media screen and (max-width: 500px) {

/**
	=> structure
	--------------------------------------------------*/

	.menu ul {
		list-style: none outside none;
		margin: 10px 0 0;
		padding: 0;
		box-shadow: 0 0 5px rgba(0,0,0,0.3);
	}
	.menu ul li {
		border: solid 1px #ddd;
		border-bottom: none;
		padding: 0px;
		overflow: hidden;
	}
	.menu ul li:last-child {
		border-bottom: solid 1px #ddd;
	}
	.menu ul li a {
		display: block;
		padding: 6px;
	}

}

/*
	=> min
--------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1000px) {
	#contentWrapper {
		padding: 16px 0 16px 32px;
	}
	#content {
		float: left;
		width: 568px;
	}
	#related {
		float: right;
		padding: 0 16px 0 0;
		width: 116px;
		font-size: 0.75em;
	}
	#related h2 {
		/*font-size: 1.125em;*/
	}
}

/**
=> min-width 1000px screens
--------------------------------------------------*/
@media screen and (min-width:1000px) {

	/**
	=> structure
	--------------------------------------------------*/
	#contentWrapper {
		width: 980px;
		margin: 0 auto;
		padding: 16px 0;
	}
	#content {
		float: left;
		width: 640px;
	}
	#related {
		float: right;
		padding: 0;
		width: 260px;
	}
	#related p {
		font-size: 0.75em;
	}
	#pageFooter {
		clear: both;
	}
	#pageFooter-inner {
		width: 980px;
	}
}


