
@import "nib"
@import "variables"
@import "mixins"
@import "animations"

/**
	=> lib files
	--------------------------------------------------*/
@import "google-code-prettify/prettify.styl"
@import "brand/reset"
@import "brand/brand"
@import "icons"
@import "menu"
@import "structure"

/*
	=> blocks
--------------------------------------------------*/
@import "prettyprint"
@import "imageGrid"
@import "pager-nav"
@import "connectWithMe"
@import "avatar"
@import "list-blogs"
@import 'blocks/spinner'
@import 'blocks/pageHeader'
@import 'cp-comments'
@import 'cp-sharelinks'

/**
=> mod-blogPosts
--------------------------------------------------*/
.mod-blogPosts article {
	border-bottom: dotted 1px #ddd;
	padding-bottom: 32px;
	margin-bottom: 32px;
}
@import "tweet_list";

/**
=> max-width 500px screens
--------------------------------------------------*/
@media screen and (max-width: 500px) {

	body {
		overflow: hidden;
		position: relative;
	}

/**
	=> structure
	--------------------------------------------------*/

	.menu ul {
		list-style: none outside none;
		margin: 10px 0 0;
		padding: 0;
	}
	.menu ul li {
		border: solid 1px #ddd;
		border-bottom: none;
		padding: 0px;
		overflow: hidden;
	}
	.menu ul li:last-child {
		border-bottom: solid 1px #ddd;
	}
	.menu ul li a {
		display: block;
		padding: 6px;
	}

	#related h1 {
		/* visually hidden */ position:absolute; display: block; top: -10000px; left: -10000px; width: 1px; height: 1px; overflow: hidden;
	}
	#related {
		position: absolute;
		top: 0;
		left: 104%;
		width: 62%;
		padding-top: $baseline--px;
	}

	.js-nav {
		#wrapper {
			right: 70%
			position: relative
		}
	}
	.csstransitions.csstransforms3d {
		#wrapper {
			transition: transform 0.8s ease;
		}
		#related {
			transform: rotateY(45deg) translate3d(-20px, 0, 0);
			transition: transform 0.8s ease;
		}
		.js-nav {
			#wrapper {
				right: auto;
				transform: translate3d(-70%, 0, 0);
			}
			#related {
				transform: rotateY(0);
			}
		}
	}
	.show-related {
		position: absolute;
		top: $baseline--px;
		right: $baseline--px;
		height: 40px;
		width: 40px;
		overflow: hidden;
		display: block;

		&:before {
			content: '≣';
			color: $color--core;
			display: block;
			width: 40px;
			height: 40px;
			font-size: 42px;
			line-height: 1;
			text-align: center;
		}
	}

}

/*
	=> min
--------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1000px) {
	#contentWrapper {
		padding: 16px 0 16px 32px;
	}
	#content {
		float: left;
		width: 568px;
	}
	#related {
		float: right;
		padding: 0 16px 0 0;
		width: 116px;
		font-size: 0.75em;
	}
	#related h2 {
		/*font-size: 1.125em;*/
	}
}

/**
=> min-width 1000px screens
--------------------------------------------------*/
@media screen and (min-width:1000px) {

	/**
	=> structure
	--------------------------------------------------*/
	#contentWrapper {
		width: 980px;
		margin: 0 auto;
		padding: 16px 0;
	}
	#content {
		float: left;
		width: 640px;
	}
	#related {
		float: right;
		padding: 0;
		width: 260px;
	}
	#related p {
		font-size: 0.75em;
	}
	#pageFooter {
		clear: both;
	}
	#pageFooter-inner {
		width: 980px;
	}
}


