
@import "nib"
@import "variables"
@import "mixins"
@import "animations"

/**
	=> lib files
	--------------------------------------------------*/
@import "google-code-prettify/desert.styl"
@import "brand/reset"
@import "brand/brand"
@import "icons"
@import "menu"
@import "structure"

/*
	=> blocks
--------------------------------------------------*/
@import "article-content"
@import "avatar"
@import 'aboutme'
@import "connectWithMe"
@import "imageGrid"
@import "list-blogs"
@import "pager-nav"
@import "prettyprint"
@import 'advert'
@import 'cp-comments'
@import 'cp-sharelinks'
@import 'js-nav'
@import 'pageHeader'
@import 'paging'
@import 'postheader'
@import 'postimage'
@import 'spinner'

/**
=> mod-blogPosts
--------------------------------------------------*/
.mod-blogPosts article {
	border-bottom: dotted 1px #ddd;
	padding-bottom: 32px;
	margin-bottom: 32px;
}
@import "tweet_list";

.related h1 {
  /* visually hidden */
  position: absolute;
  display: block;
  top: -10000px;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media screen and (max-width: 550px) {

	body {
		overflow: hidden;
		position: relative;
	}

/**
	=> structure
	--------------------------------------------------*/

	.menu ul {
		list-style: none outside none;
		margin: 10px 0 0;
		padding: 0;
	}
	.menu ul li {
		border: solid 1px #ddd;
		border-bottom: none;
		padding: 0px;
		overflow: hidden;
	}
	.menu ul li:last-child {
		border-bottom: solid 1px #ddd;
	}
	.menu ul li a {
		display: block;
		padding: 6px;
	}

	#related {
		position: absolute;
		top: 0;
		left: 104%;
		width: 62%;
		padding-top: $baseline--px;
	}


}

/*
	=> min
--------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1000px) {
	#contentWrapper {
		padding: 16px 0 16px 32px;
	}
	#content {
		position: relative;
		left: 50%;
		float: left;
		width: 568px;
		margin-left: -375px;
		transition: left .3s ease, margin-left .3s ease;
	}
	#related {
		float: right;
		padding: 0 16px 0 0;
		width: 116px;
		font-size: 0.75em;
	}
	#related h2 {
		/*font-size: 1.125em;*/
	}
}

/**
=> min-width 1000px screens
--------------------------------------------------*/
@media screen and (min-width:1000px) {

	/**
	=> structure
	--------------------------------------------------*/
	#contentWrapper {
		position relative
		width: 980px;
		margin: 0 auto;
		padding: 0 0 16px;
	}
	#content {
		float: left;
		width: 800px;
	}
	#related {
		position absolute
		top 0
		right 0
		padding: 0;
		width: 90px;
		background-color rgba(#fff, 0.95)
		transition: all .3s ease
	}
	#related .related-posts,
	.categories,
	#recentPosts {
		opacity: 0;
	}
	#related p,
	#related li,
	#related a {
		font-size: 13px;
		color: #888;
	}
	#related:hover {
		width: 260px;
		padding: 0 20px 55px 100px;
	}
	#related:hover .related-posts,
	#related:hover .categories,
	#related:hover #recentPosts {
		opacity: 1;
	}
	#related:hover p,
	#related:hover li,
	#related:hover a {
		color: #000;
	}
	#pageFooter {
		clear: both;
	}
	#pageFooter-inner {
		width: 980px;
	}
}


