pre.prettyprint {
	border: solid 1px #fff;
	background: #eee;
	margin: 0 0 16px;
	padding: 5px;
	font-size: 0.75em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

	@media (min-width: 768px){
		& {
			font-size: 1em;
			padding: 10px;
			margin: 16px 0;
			-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
			-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
			-ms-box-shadow: 0 0 10px rgba(0,0,0,0.3);
			-o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
			box-shadow: 0 0 10px rgba(0,0,0,0.3);
		}
	}
}
