#homeHeader {
    position:absolute;
    display: block;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
}
#logo a:link,
#logo a:visited,
#logo a:active,
#logo a:hover,
#logo a {
    background: none;
    outline: none;
}
#nav-primary ul li:first-child {
    /* visually hidden */ position:absolute; display: block; top: -10000px; left: -10000px; width: 1px; height: 1px; overflow: hidden;
}

#wrapper {
    background: url(../images/content-bg.gif) repeat-x 0 -3px;
    padding-top: 80px;

    @media all and (max-width: 500px){
        & {
            padding-top: 0;
        }
    }
}

#contentWrapper {
    padding: 16px 8px;
}
#contentWrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#pageFooter {
    background: #000;
    color: #ddd;
    padding: 16px 8px;
}
#pageFooter p,
#pageFooter address,
#pageFooter-inner ul li {
    font-size: 11px;
    text-transform: uppercase;
}
#pageFooter-inner {
    margin: 0 auto;
}
#pageFooter-inner ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#pageFooter-inner ul li {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    list-style: none outside none;
    margin: 0;
    padding: 0 16px 0 0;
}

