
.cp-avatar
	float: left
	border: solid 3px #eee
	margin: 7px 8px 8px 5px
	padding: 0
	transform: rotate(-3deg)
	box-shadow: 0 0 6px #000
	position: relative
	left: -($baseline)px

	img
		display: block
