.tweet_list {
	list-style: none outside none;
	margin: 0;
	padding: 0;

	li {
		clear: both;
		padding: 0 0 21px;
	}
	.tweet_avatar {
		float: left;
		margin: 2px 5px 5px 0;
	}
	.tweet_time a {
		color: #aaa;
	}
}
