
.PageHeader {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 0 0 0 100px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.PageHeader-logo {
  position: absolute;
  z-index: 3;
  top: 16px;
  left: 16px;
  width: 74px;
  height: 74px;
  transition: all .3s ease;
}

.PageHeader-logo img {
  display: block;
  width: 100%;
  height: auto;
}

.PageHeader-nav {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 1rem 1rem 1rem 0;
  margin: 0;
}

.PageHeader-pageTitle {
  z-index: 0;
  color: #ccc;
  opacity: 0;
  font-size: 1rem;
  line-height: 2rem;
  padding: .5rem 1rem .5rem 100px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 0;
  transition: opacity .3s ease;
}

.PageHeader-firstList,
.PageHeader-secondList {
  display: block;
  margin: 0;
  padding: 0;
}

.PageHeader-firstList {
  float: left;
  transition: opacity .3s ease;
}

.PageHeader-secondList {
  float: right;
}

.PageHeader-navItem {
  list-style: none outside;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.PageHeader--collapsed .PageHeader-firstList {
  z-index: 0;
  opacity: 0;
  pointer-events: none;
}

.PageHeader--collapsed .PageHeader-pageTitle {
  opacity: 1;
}

.PageHeader--collapsed .PageHeader-logo {
  width: 50px;
  height: 50px;
}
