
.client-logos

  h2
    background-color #ccc
    padding 0

    a
      display block
      max-width 980px
      margin 0 auto
      padding $baseline--px
      color #fff
      text-transform uppercase

      &:after
        content '>'

  p
    font-size 12px
    max-width 980px
    margin 0 auto
    padding $baseline--px
    color #888

  img
    display block
    max-width 980px
    height auto
    margin 0 auto
