
.list-blogs {

	li {
		border-bottom: solid 1px #ddd;

		a {
			display: block;
			font-weight: normal;
			font-size: 1em;
			margin: 0;
			padding: 2px 4px;

			border: none;
		}
	}
	.list-blogs-date {
		font-size: 0.625em;
	}

}

