.pager-nav
  text-align: center
  height: 1.3em
  line-height 1

  li
    padding: 0
    margin: 0 1px
    border: solid 1px #ddd
    display: -moz-inline-stack
    display: inline-block
    *display: inline
    *zoom: 1

    a
      display: -moz-inline-stack;
      display: inline-block;
      padding: 2px 3px;
      min-width: 16px
      text-align: center

      &:hover
        border: none


.pager-active
    ul.pager-nav
      box-shadow: none;
      padding: 8px 0
      margin-bottom: 8px

      li
        padding: 0 3px;

        &.pager-currentPage
          border: solid 1px $color--core
        &.pager-firstPage
          float: left
        &.pager-lastPage
          float: right

