#projects {
    .column(3, 12px);
    margin: 0;
    padding: 0 6px;

    h2 {
        .leagueGothic();
    }

    h2,
    h2 a {
        color: #444;
        text-decoration: none;
        text-transform: uppercase;
    }

}
.wf-active #projects h2 {
    font-size: 2.5em;
}
.wf-loading #projects h2 { visibility: hidden; }
