/* lib files */
@import url("/scripts/syntaxhighlighter/styles/shCoreMidnight.css");
@import url("brand/brand.css");

/**
    => animations
--------------------------------------------------*/
@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(-360deg); }
}

/**
    => structure
--------------------------------------------------*/
#pageHeader {
    padding: 16px;
}
    #homeHeader {
        position:absolute;
        display: block; 
        top: auto; 
        left: -10000px; 
        width: 1px; 
        height: 1px; 
    }

#contentWrapper {
    background: url(../images/content-bg.gif) repeat-x 0 0;
    padding: 16px;
}
#contentWrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#pageFooter {
    margin: 0 auto;
}

/**
    => list-blogs
--------------------------------------------------*/
.list-blogs .list-blogs-comments {
    display: block;
    color: #aaa;
    font-size: 0.8em;
}

/**
    => mod-blogPosts
--------------------------------------------------*/
.mod-blogPosts article {
    padding-bottom: 32px;
}

/**
    => tweet_list
--------------------------------------------------*/
.tweet_list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
    .tweet_list li {
        clear: both;
        padding: 0 0 21px;
    }
        .tweet_avatar {
            float: left;
            margin: 2px 5px 5px 0;
        }
        .tweet_time a {
            color: #aaa;
        }

/**
    => max-width 500px screens
--------------------------------------------------*/
@media screen and (max-width: 500px) {

    /**
        => nav-primary
    --------------------------------------------------*/
    #nav-primary ul {
        border: solid 1px #ddd;
        border-bottom: none;
        list-style: none outside none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
    }
        #nav-primary ul li {
            border-bottom: solid 1px #ddd;
            padding: 0px;
        }
            #nav-primary ul li a {
                display: block;
                padding: 6px;
            }
            #nav-primary ul li a:hover,
            #nav-primary ul li a:focus,
            #nav-primary ul li a:active {
                background: #00ADEF;
                color: #fff;
                text-decoration: none;
                background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0, rgb(0,139,194)),
                    color-stop(1, rgb(0,171,239))
                );
                background-image: -moz-linear-gradient(
                    center bottom,
                    rgb(0,139,194) 0%,
                    rgb(0,171,239) 100%
                );
                background-image: linear-gradient(
                    center bottom,
                    rgb(0,139,194) 0%,
                    rgb(0,171,239) 100%
                );
                
            }
}
/**
    => min-width 1000px screens
--------------------------------------------------*/
@media screen and (min-width:1000px) {

    /**
        => structure
    --------------------------------------------------*/
    #pageHeader {
        margin: 0 auto;
        width: 980px;
    }
    #pageHeader:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
        #logo {
            float: left;

            -webkit-perspective: 800;
            -webkit-perspective-origin: 50% 90px;
            -webkit-transform-style: preserve-3d;
        }
            #logo img {
                -webkit-animation: spin 0.7s 1 ease-in;
                -webkit-animation-delay: 1s;
            }
    #contentWrapper {
        width: 948px;
        margin: 0 auto;
    }
        #content {
            float: left;
            width: 568px;
        }
        #related {
            float: right;
            padding: 0 0 0 16px;
            width: 363px;
        }
        #pageFooter {
            clear: both;
            width: 980px;
        }

    /**
        => nav-primary
    --------------------------------------------------*/
    #nav-primary {
        float: right;
    }

}


