<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} - Dave Taylor (@davetayls) Front-End Web Developer</title>
        <meta name="description" content="{{ page.description }}" />
        <meta name="keywords" content="david,taylor,javascript,web,developer" />
        <link href="/lib/jquery-ui/css/dark-hive/jquery-ui-1.8.custom.css" rel="stylesheet" type="text/css" />
        <link href="/css/1.reset.css" rel="stylesheet" type="text/css" media="screen,print" />
        <link href="/css/2.brand.css" rel="stylesheet" type="text/css" media="screen,print" />
        <link href="/css/3.0.screen.css" rel="stylesheet" type="text/css" media="screen,print" />
        <link rel="shortcut icon" href="http://www.the-taylors.org/favicon.ico" />
        <link rel="bookmark icon" href="http://www.the-taylors.org/favicon.ico" />
        <link rel="icon" type="image/ico" href="http://www.the-taylors.org/favicon.ico" />

	    <!--[if lte IE 6]>
		    <link rel="stylesheet" type="text/css" media="all" href="/css/ie6.css" />
	    <![endif]-->

        <script type="text/javascript" src="/lib/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/lib/jquery-ui/js/jquery-ui-1.8.custom.min.js"></script>
        <script type="text/javascript" src="/jQueryPlugins/jquery.promo/jquery.promo.js"></script>
        <script type="text/javascript" src="/js/dt.js"></script>

        <!--[if lte IE 8]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

		<meta name= "viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

		<script type="text/javascript" src="http://use.typekit.com/nji4vhv.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    </head>
    <body>
        <div id="wrapper">
	        <div id="logo">
	            <a onclick="dt.analytics.trackLink(this,'home','logo');return false;" href="/"><img src="/images/davidtaylor.gif" alt="David Taylor" /></a>
	        </div>
	        <div id="nav-accessibility">
	            <p>
	                <strong>Accessibility links</strong>
	            </p>
	            <ul>
	                <li>
	                    <a accesskey="p" href="#portfolio">Jump to portfolio [Access key 'P']</a>
	                </li>
	                <li>
	                    <a accesskey="t" href="#testimonials">Jump to testimonials [Access key 'T']</a>
	                </li>
	                <li>
	                    <a accesskey="c" href="#content">Jump to main content [Access key 'C']</a>
	                </li>
	                <li>
	                    <a accesskey="n" href="#nav-primary">Jump to primary navigation [Access key 'N']</a>
	                </li>
	            </ul>
	        </div>
            <div id="header" class="cc">
                <h2 class="acc-item">About David Taylor</h2>
                <div id="about">
                    <h3 class="handFont">
                    	<img src="http://www.gravatar.com/avatar/bbf81bc82fed795624ed696fe1e5aee0?s=80&amp;d=identicon" alt="David Taylor avatar" />
						Hey, glad you dropped by.<br />Chill out and <a href="/blog">have a good read</a>
					</h3>
                    <p id="skills">
                        Valid XHTML, <a href="/blog/category/css">CSS</a>, <a href="/blog/category/javascript">JavaScript</a>, framework design, <a href="/blog/category/aspnet">.Net</a>, XML, XSLT, XPath
                    </p>
                    <p id="cv">
                        <a href="pdf/David_Taylor_CV_07540817008.pdf" title="David Taylor Graphic Designer / Web Developer CV">You should get my CV here</a>
                    </p>
                </div>
            </div>
			{{ content }}
            </div>
            <div id="footer">
            	<div id="footer-inner">
                <div class="lay-c4 cc">
                    <div class="lay-c4-first">
                        <p>
                            David Taylor,
                            <br/>
                            Graphic Designer / Web Developer
                            <br/>
                            Valid XHTML, CSS, JavaScript, .Net
                        </p>
                        <address>
                            19 Chipstead Avenue,<br />
							Thornton Heath,<br />
							Surrey,<br />
							CR7 7DJ
                        </address>
                        <p>
                            Phone: 0754 081 7008
                        </p>
                    </div>
                    <div class="lay-c4-col">
                        <ul class="nav-v">
                            <li>
                                <a href="pdf/David_Taylor_CV_07540817008.pdf">Download CV</a>
                            </li>
                            <!--
                            <li>
                            <a href="#">Download Portfolio</a>
                            </li>
                            -->
                            <li>
                                <a href="/blog">Blog</a>
                            </li>
                            <li>
                                <a onclick="dt.analytics.trackLink(this,'subscribe','footer');return false;" href="http://feed.the-taylors.org">Blog RSS Feed</a>
                            </li>
                            <li>
                                <a href="http://twitter.com/davetayls">Twitter @davetayls</a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/in/davidtaylorlondon">LinkedIn</a>
                            </li>
                        </ul>
                        <!--
                        <h5>Accessibility</h5>
                        <ul class="nav-v">
                        <li>
                        Fonts: <a href="#">Regular</a>
                        | <a href="#">Medium</a>
                        | <a href="#">Large</a>
                        </li>
                        <li>
                        Stylesheet: <a href="#">Regular</a>
                        | <a href="#">High Visibility</a>
                        </li>
                        </ul>
                        -->
                        <div>
                            <p>
                                <a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.0 Strict</a>
                            </p>
                        </div>
						
                    </div>
                    <div class="lay-c4-col">
                        <h5><a href="http://twitter.com/davetayls">@davetayls tweets:</a></h5>
						<div id="tweets">Loading...</div>
                    </div>
                    <div class="lay-c4-last">
                    	<div id="tweetsRight"></div>
                    </div>
                </div>
				</div>
            </div>

				<script type="text/javascript">
				
				  var _gaq = _gaq || [];
				  _gaq.push(['_setAccount', 'UA-4421586-2']);
				  _gaq.push(['_trackPageview']);
				
				  (function() {
				    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				  })();
				
				</script>
				<script type="text/javascript">
					var disqus_shortname = 'davetayls';
					(function () {
						var s = document.createElement('script'); s.async = true;
						s.src = 'http://disqus.com/forums/davetayls/count.js';
						(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
					}());
				</script>

        </body>
    </html>
