<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js not-ie"> <!--<![endif]-->
    <head>
		<meta charset="utf-8">

		<title>{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}" />
        <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="apple-touch-startup-image" href="/apple-startup-image.png">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,900" />
		<link rel="stylesheet" href="/css/core.css">

		<script src="/lib/modernizr-1.5.min.js"></script>

        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="author" />
        <meta property="og:url" content="http://davetayls.me{{ page.url }}" />
        <meta property="og:image" content="{% if page.postimage %}http://davetayls.me{{ page.postimage }}{% else %}http://davetayls.me/images/logo.gif{% endif %}" />
        <meta property="fb:app_id" content="139170039487294" />

        <link rel="author" href="https://plus.google.com/103477668197991622209"/>

    </head>
    <body>
        <div id="wrapper">
            {% include pageHeader.html %}
			{{ content }}
        </div>
        <footer><div id="pageFooter">
            <div id="pageFooter-inner">
                <p>Dave Taylor - Front-end interface web developer</p>
                <address>Tudor Offices, 7 The Shambles, Bradford-on-Avon, BA15 1JS</address>
                <p>Phone: 0754 081 7008</p>
                <ul>
                    <li><a href="/cv">Download CV</a> </li>
                    <li><a href="/blog">Blog</a> </li>
                    <li><a href="http://davetayls.me/atom.xml">Blog RSS Feed</a> </li>
                    <li><a href="http://twitter.com/davetayls">Twitter @davetayls</a> </li>
                    <li><a href="http://www.linkedin.com/in/davetayls">LinkedIn</a> </li>
                    <li><a href="http://github.com/davetayls">Github</a> </li>
                </ul>
            </div>
        </div></footer><!-- #pageFooter -->

            <script type="text/javascript" src="/lib/google-code-prettify/prettify.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>window.Zepto || window.jQuery || document.write('<script src="/lib/jquery.min.js"><\/script>')</script>

            <script data-main="/js/main" type="text/javascript" src="/lib/require.js"></script>

            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-4421586-2']);
              _gaq.push(['_setDomainName', 'davetayls.me']);
              _gaq.push(['_setAllowLinker', true]);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>

			<script type="text/javascript">
				var disqus_shortname = 'davetayls';
				(function () {
					var s = document.createElement('script'); s.async = true;
					s.src = 'http://disqus.com/forums/davetayls/count.js';
					(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
				}());
			</script>
            <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        </body>
    </html>
