---
layout: master
portfolio: small
---
<div id="contentWrapper">
    <div id="content">
		<div>
            <h1>
                <a href="{{ page.url }}">{{ page.title }}</a>
                {% if page.date %}
                <time datetime="{{ page.date | date_to_xmlschema }}">
                    {{ page.date | date:"%b %d %Y" }}
                </time>
                {% endif %}
            </h1>
            {% if page.share != 'hide' %}
            {% include sharelinks-short.html %}
            {% endif %}
		</div>
        <div id="articleContent">
            {% if page.postimage %}
            <p>
                <img src="{{ page.postimage }}" alt="page.title" />
            </p>
            {% endif %}
            {{ content }}
            {% if page.comments != 'hide' %}
            <p class="connectWithMe">
                I'd love to hear your thoughts, send me a message I'm
                <a target="_blank" href="https://twitter.com/intent/tweet?url=http://the-taylors.org{{ page.url }}&via=davetayls">
                    @davetayls on twitter
                </a>.
                Take a look at <a target="_blank" href="https://twitter.com/search/realtime?q=the-taylors.org">tweets and conversations</a>
            </p>
            {% endif %}
            {% include relatedgrid.html %}
        </div>

        {% if page.comments == 'show' %}
        <div>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_identifier = '{{ page.id }}';
                //var disqus_developer = 1;
                var disqus_url = 'http://the-taylors.org{{ page.url }}';
                var disqus_title = '{{ page.title }}';
                (function(){
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = 'http://davetayls.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>
                Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=davetayls">comments powered by Disqus.</a>
            </noscript>
            <p>
                <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
            </p>
        </div>
        {% endif %}
    </div>
    <aside id="related">
        {% include aboutme.html %}
        {% include relatedposts.html %}
        {% include recentposts.html %}
        {% include categories.html %}
    </aside>
</div>
