---
layout: master
portfolio: small
---
<div id="contentWrapper">
    <div id="content">
		<div>
            <h1>
                <time datetime="{{ page.date | date_to_xmlschema }}">
                    {{ page.date | date:"%b %d %Y" }}
                </time>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </h1>
			    <p>
            {% if page.author %}
				     Posted by: {{ page.author }}
            {% endif %}
			{% if page.categories %}
				<span> in:</span> 
					&nbsp;{{ page.categories }}
			{% endif %}
			</p>
            {% if page.share != 'hide' %}
            <div>
                {% include sharelinks-short.html %}
            </div>
            {% endif %}
		</div>                              
        <div id="articleContent">
            {{ content }} 
        </div>

        {% if page.comments != 'hide' %}
        <div>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_identifier = '{{ page.id }}';
                //var disqus_developer = 1;
                var disqus_url = 'http://the-taylors.org{{ page.url }}';
                var disqus_title = '{{ page.title }}';
                (function(){
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = 'http://davetayls.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>
                Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=davetayls">comments powered by Disqus.</a>
            </noscript>
            <p>
                <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
            </p>
        </div>
        {% endif %}
    </div>
    <aside id="related">
        <div id="recentPosts" class="menu">
            <h2>Posts</h2>
            <ul class="list-blogs">
                {% for post in site.posts %}
	                <li class="cc">
	                    <h3 class="list-blogs-header">
                            <a href="{{ post.url }}">
                                <span class="list-blogs-date">
                                    <abbr title="December">
                                        {{ post.date | date:"%b" }}				                    		
                                    </abbr>
                                    <span>{{ post.date | date:"%d" }}</span>
                                </span>:
                                {{ post.title }}
                            </a>
							<a class="list-blogs-comments" href="{{ post.url }}#disqus_thread">Comments</a>
						</h3>
	                </li>
                {% endfor %}
            </ul>
        </div>
    </aside>
</div>
