
.BrowsePosts {
  display: block;
  overflow: hidden;
}

.BrowsePosts-nav,
.BrowsePosts-item {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

.BrowsePosts-item {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 0 $BaseSpacing $BaseSpacing 0;
}

@media (min-width: $ResponsiveDesktopFrom) {

  .pure-u-lg-1-2 .BrowsePosts-item {
    float: none;
    width: auto;
  }

}
